// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//Variables
$base-h-color: #252E37;
$base-p-color: #8F9BB3;
$primary-blue: #00A1FF;
$primary-white: #FFFFFF;
$purple: #F6F8FA;
$font-family: 'Roboto', sans-serif;

.container {
  max-width: 1240px;
}

//Button Styles
.button {
  display: inline-block;
  position: relative;
  font-family: $font-family;
  padding: 0 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  color: $primary-white;
  text-decoration: none;
  //background-color: $primary-blue;
  transition: all 0.5s;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-blue;
    border-radius: 6px;
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    &:before {
      opacity: 0 ;
      transform: scale(0.5,0.5);
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid $primary-blue;
    border-radius: 6px;
    transform: scale(1.2,1.2);
  }
  &:hover {
    color: $primary-blue;
    &:after {
      opacity: 1;
      transform: scale(1,1);
    }
  }
}

//Font Styles
h1,h2,h3,h4,h5,h6 {
  color: $base-h-color;
  font-family: $font-family;
}
h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

p {
  color: $base-p-color;
  font-family: $font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

//Header styles
header {
  position: relative;
  padding-top: 116px;
  padding-bottom: 255px;
  background-color: $purple;
  z-index: 0;
}

.ads {
  color: $base-p-color;
  background: $primary-white;
  border-radius: 53px;
  padding: 8px;
}

.hero-image {
  @media screen and (max-width: 1440px) {
    //width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    z-index: -1;
    margin-top: 30px;
  }
  @media (max-width: 1199.98px) {
    width: 50%;
  }
  @media (max-width: 767.98px) {
    width: 100%;
    position: relative;
  }

}


//Cards Section
.cards {
  transform: translateY(-115px);
}
.cards-item {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.03);
  height: 100%;
  background: $primary-white;
  &__image {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 15px;
    text-align: center;
    max-width: 70%;
  }
  &__subtitle {
    text-align: center;
  }
}


//Why choose App

.why-choose-app {

}
.why-choose-app__title {
  max-width: 500px;
  width: 100%;
  margin: 0 auto 85px;
  text-align: center;
  
}

